/* ==========================================================================
   Pageheader
========================================================================== */

//== Default
//-------------------------------------------------------------------------------------------------------------------//
.pageheader {
    padding: 200px;
    background-color: $brand-warning;

    h3 {
        color: $brand-default;
    }
}