.game-background-level1 {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('/levels/level1_small.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
