.game-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: $black;
}

.game-fullscreen h1 {
  color: $white;
}

.game-statistics,
.game-physics,
.game-level-view,
.game-keyboard-pressed {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 230px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  color: white;
  border-left: 3px solid #333;
  padding: 15px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  font-size: 11px;
  border: 1px solid $grey;
}

.game-keyboard-pressed {
  top: 230px;
}

.game-physics {
  left: 300px;
}

.game-level-view {
  width: 840px;
  left: 590px;
}

.game-mario {
  border: 1px solid white;
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 100px;
}
