.intro {
  position: fixed;
  background: $background;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.homepage {
  position: fixed;
  background: $background;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.nintendo-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -315px;
  margin-top: -515px;
}

.fullscreenvideo {
  width: 100%;
  height: auto;
}
